<p id="notice"><%= notice %></p>

<div class ="title-container">
  <h1>Services</h1>
</div>

<div class="elements">
  <% @services.each do |service| %>
    <div class="element">
      <div class="thumbnail">
        <div class="caption">
          <h3><%= link_to (service.service_name), service_path(service) %></h3>
          <p><%= service.service_description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if current_user.admin? %>
<div class="row">
  <div class="col-lg-6 col-md-offset-3 text-center">
    <%= link_to 'New Service', new_service_path, :class => 'btn btn-default' %>

    </br>
  </div>
</div>
<% end %>