<div class="title-container">
  <h1>New Customer</h1>
</div>

<div class="row">
    <div class="container col-lg-6 col-md-offset-3 text-center">

        <%= render 'form', customer: @customer %>

        <%= link_to 'Back', customers_path %>

    </div>
</div>