body {
    margin-top: 300px;
   }
.navbar-default, .navbar-toggle:focus, .collapsed, button.navbar-toggle {
    background: $navbarColor !important;
    border: none;
    a {
      color: white;
    }
  }
  // #second_navbar{
  //   display:none;
  // }
  .navbar-default{
    background:transparent !important;
  }
  nav {
    @media only screen and (min-width: 966px) {
      #second_navbar{
        display:block;
      }
    li{
      margin-left:20px;
      width:10vw;
    }
  }
    .navbar-header {
      .navbar-brand{
        color: rgb(255, 245, 223) !important;
      }
      width: 100%;
      button, .navbar-brand {
        transition: opacity 0.15s;
      }
      button {
        margin-right: 0;
      }
      button:hover, .navbar-brand:hover {
        opacity: 0.5;
      }
    }
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color:rgb(255, 255, 255);
    background-color:rgba(0, 0, 0, 0.5);
    font-weight: 600;
  }