/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import "base/*";
@import "partials/*";

@import 'font-awesome.css';

@font-face {
    font-family: 'HairFont';
    src: asset_url('AlphaWomanHair.ttf')format('truetype');
} 

@font-face {
    font-family: 'BarberFont';
    src: asset_url('BarberStreet.ttf')format('truetype');
}

.thumbnail {
    text-align: justify;
    min-height:250px;
    padding-top:-20px;
    background-color: rgba(255,255,255,0.7);
    h3{
        text-align: center;
        margin-top:0px;
        a{  
            font-size: 3rem;
            font-family: BarberFont;
            color: $navbarColor;
        }
    }
    h2{ 
        background: rgba(0,0,0,0.5);
        color: white;
        text-align: center;
        margin-top:0px;
        a{  
            font-size: 3rem;
            color: $navbarColor;
        }
    }
    .caption{
        text-align :center;
    }
}

.title-container{
    font-family: BarberFont;
    font-size:2.5vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
    h1{
        margin:0;
        font-size:2em;
    }
}

.elements{

    a{
        display:contents;
    }
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.element{
    width:30%;
    min-width: 300px;
    h3{text-align: center;
        margin-top:10px;
        font-size: 2vw;
        font-family: BarberFont;
        color: $navbarColor;
    }
}

.navbar-brand{
    font-family: BarberFont;
    font-size:5.9vw; 
    position:absolute;
    left:50%;
    margin-left: -15vw;
    margin-top:20px;
}

.navbar-header{
    padding:20px;
}

.container{
    background-color:rgba(255,255,255,0.5);
    padding:20px;
    margin-bottom: 50px;
}


// PHOTO GALLERY STYLING
#photo_gallery{
    img{
        object-fit: none; /* Do not scale the image */
  object-position: center; 
        width: 100%;
        max-height: 200px;
        height: auto;

    }
}
.port-image
{
    width: 100%;
}

.gallery_product
{   
    align-content: center;
    margin-bottom: 30px;
}
